<div style="margin: 20px;">
    <div>
        Child Table
    </div>

    <table style="padding: 5px; border-style: solid; ">
        <tr>
            <th style="padding: 5px; border-style: solid; ">
                ID
            </th>
            <th style="padding: 5px; border-style: solid; ">
                Sender
            </th>
            <th style="padding: 5px; border-style: solid; ">
                Receiver
            </th>
            <th style="padding: 5px; border-style: solid; ">
                Total Amount
            </th>
            <th style="padding: 5px; border-style: solid; ">
                Paid Amount
            </th>
        </tr>
        <tr *ngFor="let child of childSenderReceiver">
            <td>{{child.childid}}</td>
            <td>{{child.sender}}</td>
            <td>{{child.receiver}}</td>
            <td>{{child.totalamount}}</td>
            <td>{{child.paidamount}}</td>
        </tr>
    </table>
    <button routerLink="/parent" routerLinkActive="active">
        Back To Parent
    </button>
</div>